.services {
  &-section {
    position: relative;
    background-image: url(/src/assets/services_bg.png);
    background-size: cover;
    &::after {
      content: '';
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      right: 0;
      bottom: 0;
      @media (min-width: 1024px) {
        background: url('/src/assets/service_img.png');
        width: 692px;
        height: 614px;
      }
    }

    &_wrapper {
      gap: 20px;
      @media (min-width: 1024px) {
        justify-content: start;
      }
      & .service {
        max-width: 400px;
        cursor: pointer;

        padding: 30px;
        transition: all 0.3s;

        &:hover {
          background-color: #fff;

          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transform: scale(1.02);
        }
        h2 {
          font-weight: 600;
          font-size: 32px;
          color: var(--q-secondary);
          margin-bottom: 30px;
        }
        & p {
          font-size: 22px;
          margin-right: 50px;
        }
      }
    }
  }
  &-page {
    & h1 {
      font-weight: 500;
      position: relative;
      display: inline;
      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 3px;
        left: 0;
        background-color: $blue;
      }
    }
    & p {
      margin-top: 60px;
    }

    &-img {
      padding-right: 100px;
      padding-top: 50px;
      & img {
        // display: none;
        box-shadow: 113px -80px 0px 0px $greyDarken;
      }
      // display: none;
    }
    & .q-tabs {
      max-width: calc(100% - 100px) !important;
      // box-shadow: none;
    }
    & .service-content {
      & .breif {
        max-width: 600px;
      }
    }
    .q-tab-panel {
      padding: 0 !important;
    }
    .main {
      position: relative;
      // overflow: visible !important;
    }
    & .navigators {
      & button {
        background-color: $blue;
        color: #fff;
        &.carousel__next {
          transform: translateX(200%);
        }
        &.carousel__prev {
          transform: translateX(-200%);
        }
      }
    }

    & .contacts {
      margin: 100px 0;
      display: flex;
      justify-content: space-between;
      & .text-center {
        width: 50%;
        & h4 {
          font-weight: 500;
        }
        & button {
          width: 200px;
          & span {
            width: 100%;
          }
        }
      }
    }
  }
}
