.footer_content {
  & .q-item.q-router-link--active,
  .q-item--active {
    color: #fff;
    font-weight: 800;
    overflow: hidden;
  }
  & .q-item.q-router-link--active ::after {
    display: none;
  }
  @media (max-width: 1024px) {
    gap: 30px;

    & .q-list {
      min-width: 150px;
    }
  }
  @media (max-width: 599px) {
    gap: 20px;
    justify-content: center;
    & .q-list {
      min-width: 200px;
    }
  }
}

footer {
  & .content,
  & .logo {
    display: flex;
    align-items: center;
  }
  & .content {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    // flex-direction: column;
  }
}
