.blog {
  &-page {
    & .header {
      & h1 {
        font-weight: 500;
        position: relative;
        display: inline;
        &::after {
          content: '';
          position: absolute;
          bottom: -10px;
          width: 100%;
          height: 3px;
          left: 0;
          background-color: $blue;
        }
      }
      & p {
        margin: 60px 0;
      }
    }

    & .latest,
    .post,
    .recent-post {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.01);
      }
    }

    & .carousel {
      margin-top: 50px;
    }

    & .latest {
      @media (max-width: 700px) {
        & .flex {
          flex-direction: column-reverse;

          & .img {
            max-width: calc(100vw - 40px);
            & img {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
  &-post {
    display: flex;
    @media (min-width: 700px) {
      flex-wrap: no-wrap;
    }
    & .wrapper {
      // max-width: 80%;
      padding-right: 50px;
      & .title {
        justify-content: flex-end;
        @media (min-width: 700px) {
          justify-content: space-between;
        }
        & h1 {
          font-weight: bold;
          font-size: 3rem;
          line-height: 4rem;
          @media (min-width: 700px) {
            max-width: 80%;
          }
        }
      }

      & img {
        max-width: 100%;
        margin-bottom: 30px;
      }

      & img {
      }
    }
    & .sidebar {
      max-width: 25%;
    }
  }
  .q-tabs .q-tabs__content {
    @media (max-width: 1000px) {
      flex-wrap: wrap !important;
    }
  }
}
